<html>
    <body>
        <h1>Predicting Credit Card Upgrade</h1>
        <form action="http://127.0.0.1:5000/" method="post">
            <p> PLease enter number of purchases per month</p>
            <p> <input type = "number" name = "purchases"> </p>
            <p>PLease enter 1 if there is supplementary card else please enter 0</p>
            <p> <input type = "number" name = "suppcard"> </p>
            <p> <input type = "submit"> </p>
        </form>
        <p>CART: {{result1}}</p>
        <p>RandomForest: {{result2}}</p>
        <p>GradientBoost: {{result3}}</p>
    </body>
</html>